# dependencies
node_modules/
.pnpm/
.yarn/
dist/

# production
build/
.next/
out/

# misc
.DS_Store
.env*
.env.*.local

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
